.our-story {
    padding-bottom: 4rem;
}

.our-story .general-section-subcontainer {
    max-width: 1000px;
    text-align: justify;
}

.our-story .our-story-subheading {
    font-size: 1.2rem;
}

.our-story .general-section-subcontainer p {
    margin-bottom: 1.5rem;
    color: #374151;
}

.our-values .general-section-subcontainer,
.team .general-section-subcontainer {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.general-section.team {
    background-color: inherit;
}

.team .why-choose-us-card-icon>img {
    width: 6rem;
    border-radius: 50%;
}
