.footer {
    margin-top: 1rem;
    background-color: #0f1019;
    color: #989ba8;
    padding-bottom: 4rem;
}

.footer-heading {
    text-align: left;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    align-items: center;
    /* justify-content: space-between; */
}

.creator-credit {
    margin: auto;
    /* flex: 1; */
    /* text-align: center; */

    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.footer-heading-logo-text {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    align-items: center;
}

.footer-heading img {
    object-fit: contain;
    object-position: center;

    width: 5rem;
}
.footer-heading h2 {
    font-family: "Noto Sans", sans-serif;
    /* font-size: 2.25rem; */
}

.footer-container {
    width: 90%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    gap: 2rem;
}

.footer-container>div {
    display: flex;
    flex-direction: column;
}

.footer h4 {
    font-size: 1.1rem;
    /* font-family: "PT Serif", serif; */
    margin-bottom: 0.75rem;
}

.footer a {
    text-decoration: none;
    color: inherit;
}
