.footer {
    margin-top: 1rem;
    background-color: #0f1019;
    color: #989ba8;
    /* padding: 0 1rem; */
    padding: 4rem 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    /* display: flex;
    flex-wrap: wrap;
    gap: 4rem; */
}

.footer-heading {
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
    margin: auto;
}

.footer-heading-logo-text {
    display: flex;
    gap: 2rem;

    flex: 1;
    align-items: center;
}

.footer-heading img {
    object-fit: contain;
    object-position: center;

    width: 5rem;
}

.footer-heading-text {
    flex: 1;
}

.footer-heading h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 2.25rem;
}


.creator-credit {
    display: flex;
    flex-direction: column;
}

.footer-container {
    width: 100%;
    flex: 1;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    margin: auto;

    /* grid-column: 2; */
}

.footer-container>div {
    display: flex;
    flex-direction: column;
}

.footer h4 {
    font-size: 1.1rem;
    /* font-family: "PT Serif", serif; */
    margin-bottom: 0.75rem;
}

.footer a {
    text-decoration: none;
    color: inherit;
}
