.header-extended-menu-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    background: var(--light-mode-bg-color-primary);
    transition: background 0.3s ease;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    user-select: none;
}

.header-extended-menu-container a {
    text-decoration: none;
    color: var(--light-mode-bg-font-color);
}

/* #region Styles when header is transparent */
.transparent-container {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    color: var(--transparent-bg-font-color);
}

.transparent-container a {
    color: var(--transparent-bg-font-color);
}

.transparent-container .bar {
    background-color: var(--transparent-bg-font-color);
}

.transparent-container .logo-icon {
    background: url(../assets/logo-white-160x160.png);
    background-size: contain;
}

/* #endregion Styles when header is transparent */

/* #region Header Bar Styling */
.header {
    display: flex;
    padding: 0 1rem;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.logo-icon {

    background: url(../assets/logo-black-160x160.png);
    background-size: contain;

    object-fit: cover;
    width: 3rem;
    aspect-ratio: 1;
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 0.25rem;
}

.agency-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.punch-line {
    font-size: 0.75rem;
}

.nav-links {
    display: none;
    opacity: 0;
}

/* #endregion Header Bar Styling */

/* #region Hamburger Menu Styling */

.hamburger-menu {
    padding: 0.5rem;
    border-radius: 0.25rem;

    transition: background cubic-bezier(.4, 0, .2, 1) 0.15s;
    cursor: pointer;
}

/* .hamburger-menu:hover {
    background: var(--hover-highlight-color);
} */

.hamburger {
    position: relative;
    height: 18px;
    width: 24px;
}

.bar {
    height: 0.125rem;
    width: 100%;
    position: absolute;
    transform-origin: left center;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    left: 0;
    border-radius: 0.25rem;
    background-color: var(--light-mode-bg-font-color);
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    /* top: 18px; */
    top: 8px;
}

.bar:nth-child(3) {
    bottom: 0;
}

.hamburger.cross .bar:first-child {
    transform: rotate(45deg);
    left: 3.5px;
    top: -0.5px;
}

.hamburger.cross .bar:last-child {
    transform: rotate(-45deg);
    left: 3.5px;
    bottom: -0.5px;
}

.hamburger.cross .bar:nth-child(2) {
    width: 0;
    opacity: 0;
}

/* #endregion Hamburger Menu Styling */

/* #region Extended menu styling */

.extended-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transform: translateY(-0.25rem);
    transition: max-height 0.5s ease, opacity 0.3s ease, transform 0.3s ease;

    display: flex;
    flex-direction: column;
}

.extended-menu.expanded {
    max-height: 20rem;
    opacity: 1;
    transform: translateY(0);
    /* overflow: auto; */
}

.extended-menu-padding {
    padding: 0.5rem;
}

.extended-menu .links {
    cursor: pointer;
    padding: 0.5rem 1rem;

    transition: background cubic-bezier(.4, 0, .2, 1) 0.15s;
}

.extended-menu .links:hover {
    background: var(--hover-highlight-color);
}

/* #endregion Extended menu styling */
