.header-extended-menu-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    background: white;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    user-select: none;
}

.header-extended-menu-container a {
    text-decoration: none;
    color: black;
}

/* #region Styles when header is transparent */
.transparent-container {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    color: white;
}

.transparent-container a {
    color: white;
}

.transparent-container .bar {
    background-color: white;
}

.transparent-container .logo-icon {
    background: url(../assets/logo-white.png);
    background-size: contain;
}

/* #endregion Styles when header is transparent */


/* #region Header Bar Styling */
.header {
    display: flex;
    padding: 0 1rem;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.logo-icon {

    background: url(../assets/logo-black.png);
    background-size: contain;

    object-fit: cover;
    width: 3rem;
    aspect-ratio: 1;
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 0.25rem;
}

.agency-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.punch-line {
    font-size: 0.75rem;
}

.nav-links {
    display: none;
    opacity: 0;
}

.hamburger-menu {
    padding: 0.5rem;
    /* border: 1px solid black; */
    border-radius: 0.25rem;

    transition: background cubic-bezier(.4, 0, .2, 1) 0.15s;

    cursor: pointer;
}

.hamburger-menu:hover {
    background: rgba(255, 255, 255, 0.20);
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.125rem 0;
}

.bar {
    height: 0.125rem;
    width: 1.25rem;
    background-color: black;
}

/* #endregion Header Bar Styling */

/* #region Extended menu styling */

.extended-menu {
    max-height: 0;
    opacity: 0;
    padding: 0;
    transform: translateY(-0.25rem);
    transition: max-height 0.5s ease, opacity 0.3s ease, transform 0.3s ease;

    display: flex;
    flex-direction: column;
}

.extended-menu.expanded {
    max-height: 20rem;
    opacity: 1;
    transform: translateY(0);
}

.extended-menu-padding {
    padding: 0.5rem;
}

.extended-menu .links {
    cursor: pointer;
    padding: 0.5rem 1rem;

    transition: background cubic-bezier(.4, 0, .2, 1) 0.15s;
}

.extended-menu .links:hover {
    background: rgba(255, 255, 255, 0.18);
}

/* #endregion Extended menu styling */
