/* #region card container styling */

.land-card-holder {
    padding-top: 4rem;
    background-color: inherit;
}

.card-heading {
    text-align: center;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 3rem;
}

.card-heading h2 {
    font-size: 2.25rem;
    font-family: "PT Serif", serif;

    line-height: 1.25;
}


.cards-container {
    padding: 0 1rem;
    margin: auto;
    max-width: 1400px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

    justify-content: center;
    justify-items: stretch;

    align-items: center;
}

.view-all-btn-container {
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    width: 90%;
    max-width: 1440px;

    display: flex;
    justify-content: center;
}

.view-all-btn-container button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: white;
    /* border: none; */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    color: black;

    cursor: pointer;
}

/* #endregion card container styling */

/* #region Card Styling */

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: white;
    height: fit-content;

    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.card-img-holder {
    width: 100%;
    height: 190px;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    background-size: cover;
    background-position: center;
}

.card-img-holder>img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform 0.3s;
}

.card:hover .card-img-holder>img {
    transform: scale(1.05);
}


.plot-size-overlay {
    margin: 1rem;
    width: fit-content;
    position: absolute;

    background-color: rgba(0, 150, 255, 0.5);
    backdrop-filter: contrast(50%);

    padding: 0 0.5rem;
    border-radius: 1rem;

    color: white;
}


.card-text-holder {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    line-height: 1;
}

.card-title {
    font-family: "PT Serif", serif;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: #34402e;
}

.card-location {
    /* font-size: 0.875rem; */
    margin-bottom: 0.75rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    color: #4b5563;
}

.card-location>img {
    object-fit: cover;
    object-position: center;

    aspect-ratio: 1;
    /* width: 0; */
    max-width: 0;
}

.card-location>img.loaded-location {
    max-width: 0.875rem;
}

.card-price {
    margin-bottom: 1rem;
}

.card-price>h4 {
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
}

.card-price>p {
    color: #6b7280;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    margin-bottom: 1rem;
}

.tags>p {
    background-color: rgba(215, 215, 215, 0.3);

    color: rgb(50, 50, 50);

    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
    line-height: 1.25;

    font-size: 0.75rem;
}

.tags>p:last-child {
    background-color: rgba(215, 215, 215, 0.8);
}

.card-button-container {
    width: 100%;
    border-radius: 0.5rem;
}

.card-button-container>button {
    border: none;
    width: 100%;
    color: white;
    background-color: hsl(205, 100%, 0%);

    padding: 0.65rem;
    border-radius: 0.5rem;

    cursor: pointer;
}

.card-button-container>button>p {
    line-height: 1.25;
}

/* #endregion Card Styling */
